# Project 1

## Step 1: Load the data and perform basic operations.

##### 1. Load the data in using pandas.

In [450]:
sat_csv = "/Users/chelen/Documents/ga/wk2/project-1/data/sat.csv"
act_csv = "/Users/chelen/Documents/ga/wk2/project-1/data/act.csv"

import pandas as pd
sat = pd.read_csv(sat_csv)
act = pd.read_csv(act_csv)
print(sat)
print(act)

#if we wanted to extract a variable in csv:
    #salary = ath['Total Pay'].values.tolist()

    Unnamed: 0                 State Participation  \
0            0               Alabama            5%
1            1                Alaska           38%
2            2               Arizona           30%
3            3              Arkansas            3%
4            4            California           53%
5            5              Colorado           11%
6            6           Connecticut          100%
7            7              Delaware          100%
8            8  District of Columbia          100%
9            9               Florida           83%
10          10               Georgia           61%
11          11                Hawaii           55%
12          12                 Idaho           93%
13          13              Illinois            9%
14          14               Indiana           63%
15          15                  Iowa            2%
16          16                Kansas            4%
17          17              Kentucky            4%
18          18             Louisiana            4%
19          19                 Maine           95%
20          20              Maryland           69%
21          21         Massachusetts           76%
22          22              Michigan          100%
23          23             Minnesota            3%
24          24           Mississippi            2%
25          25              Missouri            3%
26          26               Montana           10%
27          27              Nebraska            3%
28          28                Nevada           26%
29          29         New Hampshire           96%
30          30            New Jersey           70%
31          31            New Mexico           11%
32          32              New York           67%
33          33        North Carolina           49%
34          34          North Dakota            2%
35          35                  Ohio           12%
36          36              Oklahoma            7%
37          37                Oregon           43%
38          38          Pennsylvania           65%
39          39          Rhode Island           71%
40          40        South Carolina           50%
41          41          South Dakota            3%
42          42             Tennessee            5%
43          43                 Texas           62%
44          44                  Utah            3%
45          45               Vermont           60%
46          46              Virginia           65%
47          47            Washington           64%
48          48         West Virginia           14%
49          49             Wisconsin            3%
50          50               Wyoming            3%

    Evidence-Based Reading and Writing  Math  Total
0                                  593   572   1165
1                                  547   533   1080
2                                  563   553   1116
3                                  614   594   1208
4                                  531   524   1055
5                                  606   595   1201
6                                  530   512   1041
7                                  503   492    996
8                                  482   468    950
9                                  520   497   1017
10                                 535   515   1050
11                                 544   541   1085
12                                 513   493   1005
13                                 559   556   1115
14                                 542   532   1074
15                                 641   635   1275
16                                 632   628   1260
17                                 631   616   1247
18                                 611   586   1198
19                                 513   499   1012
20                                 536    52   1060
21                                 555   551   1107
22                                 509   495   1005
23                                 644   651   1295
24                                 634   607   1242
25                                 640   631   1271
26                                 605   591   1196
27                                 629   625   1253
28                                 563   553   1116
29                                 532   520   1052
30                                 530   526   1056
31                                 577   561   1138
32                                 528   523   1052
33                                 546   535   1081
34                                 635   621   1256
35                                 578   570   1149
36                                 530   517   1047
37                                 560   548   1108
38                                 540   531   1071
39                                 539   524   1062
40                                 543   521   1064
41                                 612   603   1216
42                                 623   604   1228
43                                 513   507   1020
44                                 624   614   1238
45                                 562   551   1114
46                                 561   541   1102
47                                 541   534   1075
48                                 558   528   1086
49                                 642   649   1291
50                                 626   604   1230
    Unnamed: 0                 State Participation  English  Math  Reading  \
0            0              National           60%     20.3  20.7     21.4
1            1               Alabama          100%     18.9  18.4     19.7
2            2                Alaska           65%     18.7  19.8     20.4
3            3               Arizona           62%     18.6  19.8     20.1
4            4              Arkansas          100%     18.9  19.0     19.7
5            5            California           31%     22.5  22.7     23.1
6            6              Colorado          100%     20.1  20.3     21.2
7            7           Connecticut           31%     25.5  24.6     25.6
8            8              Delaware           18%     24.1  23.4     24.8
9            9  District of Columbia           32%     24.4  23.5     24.9
10          10               Florida           73%     19.0  19.4     21.0
11          11               Georgia           55%     21.0  20.9     22.0
12          12                Hawaii           90%     17.8  19.2     19.2
13          13                 Idaho           38%     21.9  21.8     23.0
14          14              Illinois           93%     21.0  21.2     21.6
15          15               Indiana           35%     22.0  22.4     23.2
16          16                  Iowa           67%     21.2  21.3     22.6
17          17                Kansas           73%     21.1  21.3     22.3
18          18              Kentucky          100%     19.6  19.4     20.5
19          19             Louisiana          100%     19.4  18.8     19.8
20          20                 Maine            8%     24.2  24.0     24.8
21          21              Maryland           28%     23.3  23.1     24.2
22          22         Massachusetts           29%     25.4  25.3     25.9
23          23              Michigan           29%     24.1  23.7     24.5
24          24             Minnesota          100%     20.4  21.5     21.8
25          25           Mississippi          100%     18.2  18.1     18.8
26          26              Missouri          100%     19.8  19.9     20.8
27          27               Montana          100%     19.0  20.2     21.0
28          28              Nebraska           84%     20.9  20.9     21.9
29          29                Nevada          100%     16.3  18.0     18.1
30          30         New Hampshire           18%     25.4  25.1     26.0
31          31            New Jersey           34%     23.8  23.8     24.1
32          32            New Mexico           66%     18.6  19.4     20.4
33          33              New York           31%     23.8  24.0     24.6
34          34        North Carolina          100%     17.8  19.3     19.6
35          35          North Dakota           98%     19.0  20.4     20.5
36          36                  Ohio           75%     21.2  21.6     22.5
37          37              Oklahoma          100%     18.5  18.8     20.1
38          38                Oregon           40%     21.2  21.5     22.4
39          39          Pennsylvania           23%     23.4  23.4     24.2
40          40          Rhode Island           21%     24.0  23.3     24.7
41          41        South Carolina          100%     17.5  18.6     19.1
42          42          South Dakota           80%     20.7  21.5     22.3
43          43             Tennessee          100%     19.5  19.2     20.1
44          44                 Texas           45%     19.5  20.7     21.1
45          45                  Utah          100%     19.5  19.9     20.8
46          46               Vermont           29%     23.3  23.1     24.4
47          47              Virginia           29%     23.5  23.3     24.6
48          48            Washington           29%     20.9  21.9     22.1
49          49         West Virginia           69%     20.0  19.4     21.2
50          50             Wisconsin          100%     19.7  20.4     20.6
51          51               Wyoming          100%     19.4  19.8     20.8

    Science  Composite
0      21.0       21.0
1      19.4       19.2
2      19.9       19.8
3      19.8       19.7
4      19.5       19.4
5      22.2       22.8
6      20.9       20.8
7      24.6       25.2
8      23.6       24.1
9      23.5       24.2
10     19.4       19.8
11     21.3       21.4
12     19.3       19.0
13     22.1       22.3
14     21.3       21.4
15     22.3       22.6
16     22.1       21.9
17     21.7       21.7
18     20.1       20.0
19     19.6       19.5
20     23.7       24.3
21      2.3       23.6
22     24.7       25.4
23     23.8       24.1
24     21.6       21.5
25     18.8       18.6
26     20.5       20.4
27     20.5       20.3
28     21.5       21.4
29     18.2       17.8
30     24.9       25.5
31     23.2       23.9
32     20.0       19.7
33     23.9       24.2
34     19.3       19.1
35     20.6       20.3
36     22.0       22.0
37     19.6       19.4
38     21.7       21.8
39     23.3       23.7
40     23.4       24.0
41     18.9       18.7
42     22.0       21.8
43     19.9       19.8
44     20.9       20.7
45     20.6       20.3
46     23.2       23.6
47     23.5       23.8
48     22.0       21.9
49     20.5       20.4
50     20.9       20.5
51     20.6       20.2

##### 2. Print the first ten rows of each dataframe.

In [451]:
sat_df =pd.DataFrame(sat)
act_df =pd.DataFrame(act)
print(sat_df[:10])
print(act_df[:10])

   Unnamed: 0                 State Participation  \
0           0               Alabama            5%
1           1                Alaska           38%
2           2               Arizona           30%
3           3              Arkansas            3%
4           4            California           53%
5           5              Colorado           11%
6           6           Connecticut          100%
7           7              Delaware          100%
8           8  District of Columbia          100%
9           9               Florida           83%

   Evidence-Based Reading and Writing  Math  Total
0                                 593   572   1165
1                                 547   533   1080
2                                 563   553   1116
3                                 614   594   1208
4                                 531   524   1055
5                                 606   595   1201
6                                 530   512   1041
7                                 503   492    996
8                                 482   468    950
9                                 520   497   1017
   Unnamed: 0                 State Participation  English  Math  Reading  \
0           0              National           60%     20.3  20.7     21.4
1           1               Alabama          100%     18.9  18.4     19.7
2           2                Alaska           65%     18.7  19.8     20.4
3           3               Arizona           62%     18.6  19.8     20.1
4           4              Arkansas          100%     18.9  19.0     19.7
5           5            California           31%     22.5  22.7     23.1
6           6              Colorado          100%     20.1  20.3     21.2
7           7           Connecticut           31%     25.5  24.6     25.6
8           8              Delaware           18%     24.1  23.4     24.8
9           9  District of Columbia           32%     24.4  23.5     24.9

   Science  Composite
0     21.0       21.0
1     19.4       19.2
2     19.9       19.8
3     19.8       19.7
4     19.5       19.4
5     22.2       22.8
6     20.9       20.8
7     24.6       25.2
8     23.6       24.1
9     23.5       24.2

##### 3. Describe in words what each variable (column) is.

SAT:

Col 1. Unnamed = index
Col 2. State = state where student took the test
Col 3. Participation = number of students in state that took the test
Col 4. Evidence-Based Reading and Writing = mean of student scores on portion 1 of test
Col 5. Math = mean of student scores on portion 2 of test
Col 6. Total = mean of aggregate student scores on both portions of test

ACT:

Col 1. Unnamed = index
Col 2. State = state where student took the test
Col 3. Participation = number of students in state 
that took the test
Col 4. English = mean of student scores on english 
portion of test
Col 5. Math = mean of student scores on math portion of test
Col 6. Reading = mean of student scores on reading portion of test
Col 7. Science = mean of student scores on science portion of test
Col 8. Composite = mean of aggregate student scores on all portions of test

##### 4. Does the data look complete? Are there any obvious issues with the observations?

Caveats

1. Only shows data for the graduating class of 2017
2. Data collection may be skewed
3. Students moving across states could be a contributing factor, especially in the NE

##### 5. Print the types of each column.

In [452]:
print(sat_df.dtypes)
print()
print(act_df.dtypes)

Unnamed: 0                             int64
State                                 object
Participation                         object
Evidence-Based Reading and Writing     int64
Math                                   int64
Total                                  int64
dtype: object

Unnamed: 0         int64
State             object
Participation     object
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

##### 6. Do any types need to be reassigned? If so, go ahead and do it.

In [453]:
#print(sat_df.dtypes)
    #should Unnamed be an int64? no
    #should State be a string? yes
    #should Participation be a string? no
    #should EBRW be an int64? yes
    #should Math be an int64? yes
    #should Total be an int64? yes

#fix Unnamed dtype
sat['Unnamed: 0'] = sat['Unnamed: 0'].astype('str')

#fix Participation dtype
#sat_df['Participation'].apply(lambda x: x.replace('%', '')).astype('float')/100
sat_df['Participation'] = [float(x.replace('%', ''))/100 for x in sat_df['Participation']]

#QUESTION: Why do we need to set sat_df[<variable>].astype(<type>) here back to itself in order to save the new dtype?
sat_df['Participation'] = sat_df['Participation'].astype('float64')
print(sat_df.dtypes)

Unnamed: 0                             object
State                                  object
Participation                         float64
Evidence-Based Reading and Writing      int64
Math                                    int64
Total                                   int64
dtype: object

In [454]:
#print(act_df.dtypes)
    #should Unnamed be an int64? no
    #should State be a str? yes
    #should Participation be an object? no
    #should English be a float64? yes
    #should Math be a float64? yes
    #should Reading be a float64? yes
    #should Science be a float64? yes
    #should Composite be a float64? yes

#fix Unnamed dtype
act['Unnamed: 0'] = act['Unnamed: 0'].astype('str')

#fix Participation dtype
act['Participation'] = [float(x.replace('%', ''))/100 for x in act_df['Participation']]
act['Participation'] = act['Participation'].astype('float64')
print(act_df.dtypes)

Unnamed: 0        object
State             object
Participation    float64
English          float64
Math             float64
Reading          float64
Science          float64
Composite        float64
dtype: object

##### 7. Create a dictionary for each column mapping the State to its respective value for that column. (For example, you should have three SAT dictionaries.)

In [455]:
#sat
    #ebrw_dict = { 'State': ebrw_score, ...}
    #math_dict
    #total_dict

#QUESTION: why can we denote a variable by sat_df[<variable>] and sat_df.variable?
    #what is dict(zip(...)) doing?
    #test = dict(zip('1', '2'))
ebrw_dict = dict(zip(sat_df['State'], sat_df['Evidence-Based Reading and Writing']))
math_dict = dict(zip(sat_df['State'], sat_df['Math']))
total_dict = dict(zip(sat_df['State'], sat_df['Total']))

#ebrw_dict = sat_df.set_index('State')['Evidence-Based Reading and Writing'].to_dict()
#math_dict = sat_df.set_index('State')['Math'].to_dict()
#total_dict = sat_df.set_index('State')['Total'].to_dict()

display(ebrw_dict)
display(math_dict)
display(total_dict)

{'Alabama': 593,
 'Alaska': 547,
 'Arizona': 563,
 'Arkansas': 614,
 'California': 531,
 'Colorado': 606,
 'Connecticut': 530,
 'Delaware': 503,
 'District of Columbia': 482,
 'Florida': 520,
 'Georgia': 535,
 'Hawaii': 544,
 'Idaho': 513,
 'Illinois': 559,
 'Indiana': 542,
 'Iowa': 641,
 'Kansas': 632,
 'Kentucky': 631,
 'Louisiana': 611,
 'Maine': 513,
 'Maryland': 536,
 'Massachusetts': 555,
 'Michigan': 509,
 'Minnesota': 644,
 'Mississippi': 634,
 'Missouri': 640,
 'Montana': 605,
 'Nebraska': 629,
 'Nevada': 563,
 'New Hampshire': 532,
 'New Jersey': 530,
 'New Mexico': 577,
 'New York': 528,
 'North Carolina': 546,
 'North Dakota': 635,
 'Ohio': 578,
 'Oklahoma': 530,
 'Oregon': 560,
 'Pennsylvania': 540,
 'Rhode Island': 539,
 'South Carolina': 543,
 'South Dakota': 612,
 'Tennessee': 623,
 'Texas': 513,
 'Utah': 624,
 'Vermont': 562,
 'Virginia': 561,
 'Washington': 541,
 'West Virginia': 558,
 'Wisconsin': 642,
 'Wyoming': 626}

{'Alabama': 572,
 'Alaska': 533,
 'Arizona': 553,
 'Arkansas': 594,
 'California': 524,
 'Colorado': 595,
 'Connecticut': 512,
 'Delaware': 492,
 'District of Columbia': 468,
 'Florida': 497,
 'Georgia': 515,
 'Hawaii': 541,
 'Idaho': 493,
 'Illinois': 556,
 'Indiana': 532,
 'Iowa': 635,
 'Kansas': 628,
 'Kentucky': 616,
 'Louisiana': 586,
 'Maine': 499,
 'Maryland': 52,
 'Massachusetts': 551,
 'Michigan': 495,
 'Minnesota': 651,
 'Mississippi': 607,
 'Missouri': 631,
 'Montana': 591,
 'Nebraska': 625,
 'Nevada': 553,
 'New Hampshire': 520,
 'New Jersey': 526,
 'New Mexico': 561,
 'New York': 523,
 'North Carolina': 535,
 'North Dakota': 621,
 'Ohio': 570,
 'Oklahoma': 517,
 'Oregon': 548,
 'Pennsylvania': 531,
 'Rhode Island': 524,
 'South Carolina': 521,
 'South Dakota': 603,
 'Tennessee': 604,
 'Texas': 507,
 'Utah': 614,
 'Vermont': 551,
 'Virginia': 541,
 'Washington': 534,
 'West Virginia': 528,
 'Wisconsin': 649,
 'Wyoming': 604}

{'Alabama': 1165,
 'Alaska': 1080,
 'Arizona': 1116,
 'Arkansas': 1208,
 'California': 1055,
 'Colorado': 1201,
 'Connecticut': 1041,
 'Delaware': 996,
 'District of Columbia': 950,
 'Florida': 1017,
 'Georgia': 1050,
 'Hawaii': 1085,
 'Idaho': 1005,
 'Illinois': 1115,
 'Indiana': 1074,
 'Iowa': 1275,
 'Kansas': 1260,
 'Kentucky': 1247,
 'Louisiana': 1198,
 'Maine': 1012,
 'Maryland': 1060,
 'Massachusetts': 1107,
 'Michigan': 1005,
 'Minnesota': 1295,
 'Mississippi': 1242,
 'Missouri': 1271,
 'Montana': 1196,
 'Nebraska': 1253,
 'Nevada': 1116,
 'New Hampshire': 1052,
 'New Jersey': 1056,
 'New Mexico': 1138,
 'New York': 1052,
 'North Carolina': 1081,
 'North Dakota': 1256,
 'Ohio': 1149,
 'Oklahoma': 1047,
 'Oregon': 1108,
 'Pennsylvania': 1071,
 'Rhode Island': 1062,
 'South Carolina': 1064,
 'South Dakota': 1216,
 'Tennessee': 1228,
 'Texas': 1020,
 'Utah': 1238,
 'Vermont': 1114,
 'Virginia': 1102,
 'Washington': 1075,
 'West Virginia': 1086,
 'Wisconsin': 1291,
 'Wyoming': 1230}

In [456]:
#act
    #eng_dict = { 'State': ebrw_score, ...}
    #mathact_dict
    #reading_dict
    #science_dict
    #composite_dict

eng_dict = dict(zip(act_df['State'], act_df['English']))
mathact_dict = dict(zip(act_df['State'], act_df['Math']))
reading_dict = dict(zip(act_df['State'], act_df['Reading']))
science_dict = dict(zip(act_df['State'], act_df['Science']))
composite_dict = dict(zip(act_df['State'], act_df['Composite']))

display(composite_dict)

{'Alabama': 19.2,
 'Alaska': 19.8,
 'Arizona': 19.7,
 'Arkansas': 19.4,
 'California': 22.8,
 'Colorado': 20.8,
 'Connecticut': 25.2,
 'Delaware': 24.1,
 'District of Columbia': 24.2,
 'Florida': 19.8,
 'Georgia': 21.4,
 'Hawaii': 19.0,
 'Idaho': 22.3,
 'Illinois': 21.4,
 'Indiana': 22.6,
 'Iowa': 21.9,
 'Kansas': 21.7,
 'Kentucky': 20.0,
 'Louisiana': 19.5,
 'Maine': 24.3,
 'Maryland': 23.6,
 'Massachusetts': 25.4,
 'Michigan': 24.1,
 'Minnesota': 21.5,
 'Mississippi': 18.6,
 'Missouri': 20.4,
 'Montana': 20.3,
 'National': 21.0,
 'Nebraska': 21.4,
 'Nevada': 17.8,
 'New Hampshire': 25.5,
 'New Jersey': 23.9,
 'New Mexico': 19.7,
 'New York': 24.2,
 'North Carolina': 19.1,
 'North Dakota': 20.3,
 'Ohio': 22.0,
 'Oklahoma': 19.4,
 'Oregon': 21.8,
 'Pennsylvania': 23.7,
 'Rhode Island': 24.0,
 'South Carolina': 18.7,
 'South Dakota': 21.8,
 'Tennessee': 19.8,
 'Texas': 20.7,
 'Utah': 20.3,
 'Vermont': 23.6,
 'Virginia': 23.8,
 'Washington': 21.9,
 'West Virginia': 20.4,
 'Wisconsin': 20.5,
 'Wyoming': 20.2}

##### 8. Create one dictionary where each key is the column name, and each value is an iterable (a list or a Pandas Series) of all the values in that column.

In [457]:
#one_dict = { column_name: list of all column values }
    #one_dict = { [ebrw] : [ebrw_scores], [math] : [math_scores]... }
        
one_dict = {'ebrw': list(sat_df['Evidence-Based Reading and Writing']),
            'math': list(sat_df['Math']),
            'total': list(sat_df['Total']),
            'english': list(act_df['English']),
            'mathact': list(act_df['Math']),
            'reading': list(act_df['Reading']),
            'science': list(act_df['Science']),
            'composite': list(act_df['Composite'])
           }
#returns 51 b/c includes National average row
    #print(len(list(sat_df['Evidence-Based Reading and Writing'])))
display(one_dict.keys())

dict_keys(['ebrw', 'math', 'total', 'english', 'mathact', 'reading', 'science', 'composite'])

##### 9. Merge the dataframes on the state column.

In [458]:
merged_df =pd.merge(sat_df, act_df, on='State')
display(merged_df.head(n=1))

,Unnamed: 0_x,State,Participation_x,Evidence-Based Reading and Writing,Math_x,Total,Unnamed: 0_y,Participation_y,English,Math_y,Reading,Science,Composite
0,0,Alabama,0.05,593,572,1165,1,1.0,18.9,18.4,19.7,19.4,19.2

##### 10. Change the names of the columns so you can distinguish between the SAT columns and the ACT columns.

In [459]:
merged_df.columns = ['unnamed0_sat',
                     'state',
                     'participation_sat',
                     'ebrw_sat',
                     'math_sat', 
                     'total_sat', 
                     'unnamed0_act',
                     'participation_act', 
                     'english_act', 
                     'math_act',
                     'reading_act',
                     'science_act',
                     'composite_act']
display(merged_df)
#below works for replacing column values, not columns themselves
    #merged_df.replace('Test', 'Alabama')

,unnamed0_sat,state,participation_sat,ebrw_sat,math_sat,total_sat,unnamed0_act,participation_act,english_act,math_act,reading_act,science_act,composite_act
0,0,Alabama,0.05,593,572,1165,1,1.00,18.9,18.4,19.7,19.4,19.2
1,1,Alaska,0.38,547,533,1080,2,0.65,18.7,19.8,20.4,19.9,19.8
2,2,Arizona,0.30,563,553,1116,3,0.62,18.6,19.8,20.1,19.8,19.7
3,3,Arkansas,0.03,614,594,1208,4,1.00,18.9,19.0,19.7,19.5,19.4
4,4,California,0.53,531,524,1055,5,0.31,22.5,22.7,23.1,22.2,22.8
5,5,Colorado,0.11,606,595,1201,6,1.00,20.1,20.3,21.2,20.9,20.8
6,6,Connecticut,1.00,530,512,1041,7,0.31,25.5,24.6,25.6,24.6,25.2
7,7,Delaware,1.00,503,492,996,8,0.18,24.1,23.4,24.8,23.6,24.1
8,8,District of Columbia,1.00,482,468,950,9,0.32,24.4,23.5,24.9,23.5,24.2
9,9,Florida,0.83,520,497,1017,10,0.73,19.0,19.4,21.0,19.4,19.8
10,10,Georgia,0.61,535,515,1050,11,0.55,21.0,20.9,22.0,21.3,21.4
11,11,Hawaii,0.55,544,541,1085,12,0.90,17.8,19.2,19.2,19.3,19.0
12,12,Idaho,0.93,513,493,1005,13,0.38,21.9,21.8,23.0,22.1,22.3
13,13,Illinois,0.09,559,556,1115,14,0.93,21.0,21.2,21.6,21.3,21.4
14,14,Indiana,0.63,542,532,1074,15,0.35,22.0,22.4,23.2,22.3,22.6
15,15,Iowa,0.02,641,635,1275,16,0.67,21.2,21.3,22.6,22.1,21.9
16,16,Kansas,0.04,632,628,1260,17,0.73,21.1,21.3,22.3,21.7,21.7
17,17,Kentucky,0.04,631,616,1247,18,1.00,19.6,19.4,20.5,20.1,20.0
18,18,Louisiana,0.04,611,586,1198,19,1.00,19.4,18.8,19.8,19.6,19.5
19,19,Maine,0.95,513,499,1012,20,0.08,24.2,24.0,24.8,23.7,24.3
20,20,Maryland,0.69,536,52,1060,21,0.28,23.3,23.1,24.2,2.3,23.6
21,21,Massachusetts,0.76,555,551,1107,22,0.29,25.4,25.3,25.9,24.7,25.4
22,22,Michigan,1.00,509,495,1005,23,0.29,24.1,23.7,24.5,23.8,24.1
23,23,Minnesota,0.03,644,651,1295,24,1.00,20.4,21.5,21.8,21.6,21.5
24,24,Mississippi,0.02,634,607,1242,25,1.00,18.2,18.1,18.8,18.8,18.6
25,25,Missouri,0.03,640,631,1271,26,1.00,19.8,19.9,20.8,20.5,20.4
26,26,Montana,0.10,605,591,1196,27,1.00,19.0,20.2,21.0,20.5,20.3
27,27,Nebraska,0.03,629,625,1253,28,0.84,20.9,20.9,21.9,21.5,21.4
28,28,Nevada,0.26,563,553,1116,29,1.00,16.3,18.0,18.1,18.2,17.8
29,29,New Hampshire,0.96,532,520,1052,30,0.18,25.4,25.1,26.0,24.9,25.5
30,30,New Jersey,0.70,530,526,1056,31,0.34,23.8,23.8,24.1,23.2,23.9
31,31,New Mexico,0.11,577,561,1138,32,0.66,18.6,19.4,20.4,20.0,19.7
32,32,New York,0.67,528,523,1052,33,0.31,23.8,24.0,24.6,23.9,24.2
33,33,North Carolina,0.49,546,535,1081,34,1.00,17.8,19.3,19.6,19.3,19.1
34,34,North Dakota,0.02,635,621,1256,35,0.98,19.0,20.4,20.5,20.6,20.3
35,35,Ohio,0.12,578,570,1149,36,0.75,21.2,21.6,22.5,22.0,22.0
36,36,Oklahoma,0.07,530,517,1047,37,1.00,18.5,18.8,20.1,19.6,19.4
37,37,Oregon,0.43,560,548,1108,38,0.40,21.2,21.5,22.4,21.7,21.8
38,38,Pennsylvania,0.65,540,531,1071,39,0.23,23.4,23.4,24.2,23.3,23.7
39,39,Rhode Island,0.71,539,524,1062,40,0.21,24.0,23.3,24.7,23.4,24.0
40,40,South Carolina,0.50,543,521,1064,41,1.00,17.5,18.6,19.1,18.9,18.7
41,41,South Dakota,0.03,612,603,1216,42,0.80,20.7,21.5,22.3,22.0,21.8
42,42,Tennessee,0.05,623,604,1228,43,1.00,19.5,19.2,20.1,19.9,19.8
43,43,Texas,0.62,513,507,1020,44,0.45,19.5,20.7,21.1,20.9,20.7
44,44,Utah,0.03,624,614,1238,45,1.00,19.5,19.9,20.8,20.6,20.3
45,45,Vermont,0.60,562,551,1114,46,0.29,23.3,23.1,24.4,23.2,23.6
46,46,Virginia,0.65,561,541,1102,47,0.29,23.5,23.3,24.6,23.5,23.8
47,47,Washington,0.64,541,534,1075,48,0.29,20.9,21.9,22.1,22.0,21.9
48,48,West Virginia,0.14,558,528,1086,49,0.69,20.0,19.4,21.2,20.5,20.4
49,49,Wisconsin,0.03,642,649,1291,50,1.00,19.7,20.4,20.6,20.9,20.5
50,50,Wyoming,0.03,626,604,1230,51,1.00,19.4,19.8,20.8,20.6,20.2

##### 11. Print the minimum and maximum of each numeric column in the data frame.

In [460]:
merged_df.columns

Index(['unnamed0_sat', 'state', 'participation_sat', 'ebrw_sat', 'math_sat',
       'total_sat', 'unnamed0_act', 'participation_act', 'english_act',
       'math_act', 'reading_act', 'science_act', 'composite_act'],
      dtype='object')

In [461]:
merged_df['math_act'].dtypes

dtype('float64')

In [462]:
merged_numeric_df = merged_df.select_dtypes(include = ('float64', 'int64'))
print('numeric_columns_max: \n', merged_numeric_df.max())
print()
print('numeric_columns_min: \n', merged_numeric_df.min())
 
#QUESTION: can you use a for loop to iterate through the merged_df column names and check for that column's data type?
#for i in merged_df.columns:
    #print (i, i.dtypes)
    #if type(merged_df[i]) == 'float64': #or type(i) == 'int64':
        #print ('numeric_column_max:' + merged_df.max())
        #print ('numeric_column_min:' + merged_df.min())
    #else:
        #print ('not a numeric_column')

numeric_columns_max:
 participation_sat       1.0
ebrw_sat              644.0
math_sat              651.0
total_sat            1295.0
participation_act       1.0
english_act            25.5
math_act               25.3
reading_act            26.0
science_act            24.9
composite_act          25.5
dtype: float64

numeric_columns_min:
 participation_sat      0.02
ebrw_sat             482.00
math_sat              52.00
total_sat            950.00
participation_act      0.08
english_act           16.30
math_act              18.00
reading_act           18.10
science_act            2.30
composite_act         17.80
dtype: float64

##### 12. Write a function using only list comprehensions, no loops, to compute standard deviation. Using this function, calculate the standard deviation of each numeric column in both data sets. Add these to a list called `sd`.

$$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

In [463]:
display(merged_numeric_df)

,participation_sat,ebrw_sat,math_sat,total_sat,participation_act,english_act,math_act,reading_act,science_act,composite_act
0,0.05,593,572,1165,1.00,18.9,18.4,19.7,19.4,19.2
1,0.38,547,533,1080,0.65,18.7,19.8,20.4,19.9,19.8
2,0.30,563,553,1116,0.62,18.6,19.8,20.1,19.8,19.7
3,0.03,614,594,1208,1.00,18.9,19.0,19.7,19.5,19.4
4,0.53,531,524,1055,0.31,22.5,22.7,23.1,22.2,22.8
5,0.11,606,595,1201,1.00,20.1,20.3,21.2,20.9,20.8
6,1.00,530,512,1041,0.31,25.5,24.6,25.6,24.6,25.2
7,1.00,503,492,996,0.18,24.1,23.4,24.8,23.6,24.1
8,1.00,482,468,950,0.32,24.4,23.5,24.9,23.5,24.2
9,0.83,520,497,1017,0.73,19.0,19.4,21.0,19.4,19.8
10,0.61,535,515,1050,0.55,21.0,20.9,22.0,21.3,21.4
11,0.55,544,541,1085,0.90,17.8,19.2,19.2,19.3,19.0
12,0.93,513,493,1005,0.38,21.9,21.8,23.0,22.1,22.3
13,0.09,559,556,1115,0.93,21.0,21.2,21.6,21.3,21.4
14,0.63,542,532,1074,0.35,22.0,22.4,23.2,22.3,22.6
15,0.02,641,635,1275,0.67,21.2,21.3,22.6,22.1,21.9
16,0.04,632,628,1260,0.73,21.1,21.3,22.3,21.7,21.7
17,0.04,631,616,1247,1.00,19.6,19.4,20.5,20.1,20.0
18,0.04,611,586,1198,1.00,19.4,18.8,19.8,19.6,19.5
19,0.95,513,499,1012,0.08,24.2,24.0,24.8,23.7,24.3
20,0.69,536,52,1060,0.28,23.3,23.1,24.2,2.3,23.6
21,0.76,555,551,1107,0.29,25.4,25.3,25.9,24.7,25.4
22,1.00,509,495,1005,0.29,24.1,23.7,24.5,23.8,24.1
23,0.03,644,651,1295,1.00,20.4,21.5,21.8,21.6,21.5
24,0.02,634,607,1242,1.00,18.2,18.1,18.8,18.8,18.6
25,0.03,640,631,1271,1.00,19.8,19.9,20.8,20.5,20.4
26,0.10,605,591,1196,1.00,19.0,20.2,21.0,20.5,20.3
27,0.03,629,625,1253,0.84,20.9,20.9,21.9,21.5,21.4
28,0.26,563,553,1116,1.00,16.3,18.0,18.1,18.2,17.8
29,0.96,532,520,1052,0.18,25.4,25.1,26.0,24.9,25.5
30,0.70,530,526,1056,0.34,23.8,23.8,24.1,23.2,23.9
31,0.11,577,561,1138,0.66,18.6,19.4,20.4,20.0,19.7
32,0.67,528,523,1052,0.31,23.8,24.0,24.6,23.9,24.2
33,0.49,546,535,1081,1.00,17.8,19.3,19.6,19.3,19.1
34,0.02,635,621,1256,0.98,19.0,20.4,20.5,20.6,20.3
35,0.12,578,570,1149,0.75,21.2,21.6,22.5,22.0,22.0
36,0.07,530,517,1047,1.00,18.5,18.8,20.1,19.6,19.4
37,0.43,560,548,1108,0.40,21.2,21.5,22.4,21.7,21.8
38,0.65,540,531,1071,0.23,23.4,23.4,24.2,23.3,23.7
39,0.71,539,524,1062,0.21,24.0,23.3,24.7,23.4,24.0
40,0.50,543,521,1064,1.00,17.5,18.6,19.1,18.9,18.7
41,0.03,612,603,1216,0.80,20.7,21.5,22.3,22.0,21.8
42,0.05,623,604,1228,1.00,19.5,19.2,20.1,19.9,19.8
43,0.62,513,507,1020,0.45,19.5,20.7,21.1,20.9,20.7
44,0.03,624,614,1238,1.00,19.5,19.9,20.8,20.6,20.3
45,0.60,562,551,1114,0.29,23.3,23.1,24.4,23.2,23.6
46,0.65,561,541,1102,0.29,23.5,23.3,24.6,23.5,23.8
47,0.64,541,534,1075,0.29,20.9,21.9,22.1,22.0,21.9
48,0.14,558,528,1086,0.69,20.0,19.4,21.2,20.5,20.4
49,0.03,642,649,1291,1.00,19.7,20.4,20.6,20.9,20.5
50,0.03,626,604,1230,1.00,19.4,19.8,20.8,20.6,20.2

In [464]:
import numpy as np
#np.mean(merged_numeric_df['participation_sat'].values)
#merged_numeric_df.iloc[:3,0:1]
#display(one_dict.keys())

sd = []
for test in merged_numeric_df:
    score_mean = np.mean(merged_numeric_df[test])
    score = (merged_numeric_df[test])
    #subtracting 1 below because otherwise n counts header as a row
    n = len(merged_numeric_df[test]) - 1
    std = np.sqrt((sum((score - score_mean)**2) / n))
    #originally TypeError: 'builtin_function_or_method' object is not subscriptable b/c I was using [] instead of ()
        #was not calling the function the right way
    sd.append(std)
    #print(test, score_mean, std)
    #QUESTION: why SyntaxError: 'return' outside function here?
    
sd
    #QUESTION: when did I get rid of National row in act_df?^

[0.35276632270013036,
 45.66690138768932,
 84.90911865855486,
 92.49481172519046,
 0.32140842015886834,
 2.35367713980303,
 1.9819894936505533,
 2.0672706264873146,
 3.182462975155452,
 2.020694891154341]

## Step 2: Manipulate the dataframe

##### 13. Turn the list `sd` into a new observation in your dataset.

In [465]:
sd = np.asarray(sd)
sd
sd_test = pd.Series(sd)
sd_test

0     0.352766
1    45.666901
2    84.909119
3    92.494812
4     0.321408
5     2.353677
6     1.981989
7     2.067271
8     3.182463
9     2.020695
dtype: float64

In [468]:
#append row onto bottom of merged_numeric_df

#sd_df=pd.DataFrame(sd)
#sd_df
display (merged_numeric_df.conconcat(sd, ignore_index = True))

#display(merged_numeric_df)
#type(merged_numeric_df)

AttributeError: 'DataFrame' object has no attribute 'concat'

##### 14. Sort the dataframe by the values in a numeric column (e.g. observations descending by SAT participation rate)

##### 15. Use a boolean filter to display only observations with a score above a certain threshold (e.g. only states with a participation rate above 50%)

## Step 3: Visualize the data

##### 16. Using MatPlotLib and PyPlot, plot the distribution of the Rate columns for both SAT and ACT using histograms. (You should have two histograms. You might find [this link](https://matplotlib.org/users/pyplot_tutorial.html#working-with-multiple-figures-and-axes) helpful in organizing one plot above the other.)

##### 17. Plot the Math(s) distributions from both data sets.

##### 18. Plot the Verbal distributions from both data sets.

##### 19. When we make assumptions about how data are distributed, what is the most common assumption?

##### 20. Does this assumption hold true for any of our columns? Which?

##### 21. Plot some scatterplots examining relationships between all variables.

##### 22. Are there any interesting relationships to note?

##### 23. Create box plots for each variable.

##### BONUS: Using Tableau, create a heat map for each variable using a map of the US.

## Step 4: Descriptive and Inferential Statistics

##### 24. Summarize each distribution. As data scientists, be sure to back up these summaries with statistics. (Hint: What are the three things we care about when describing distributions?)

##### 25. Summarize each relationship. Be sure to back up these summaries with statistics.

##### 26. Execute a hypothesis test comparing the SAT and ACT participation rates. Use $\alpha = 0.05$. Be sure to interpret your results.

##### 27. Generate and interpret 95% confidence intervals for SAT and ACT participation rates.

##### 28. Given your answer to 26, was your answer to 27 surprising? Why?

##### 29. Is it appropriate to generate correlation between SAT and ACT math scores? Why?

##### 30. Suppose we only seek to understand the relationship between SAT and ACT data in 2017. Does it make sense to conduct statistical inference given the data we have? Why?